@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bgSoft");

    width: 100%;
    min-height: calc(100vh - 60px);

    padding: 20px 40px;

    overflow-x: hidden;

    // Large screens
    @include laptop {
      padding: 20px 25px;
    }

    // Tablet
    @include tablet {
      padding: 20px;
    }

    // Mobile
    @include mobile-large {
      padding: 12px 10px;
    }

    // Small mobile
    @include mobile {
      padding: 10px 8px;
    }
  }
}